@import '../../variables.css';

.container {
  padding-top: 100px;
  width: 800px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.panels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 20px;
}

.panels > textarea {
  width: 350px;

  min-width: 200px;
  min-height: 150px;
}

.panels > table {
  width: 400px;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .panels > textarea, .panels > table {
    width: 100%;
  }
}

.table {
  border-collapse: collapse;
}

.table td {
  padding: 5px;
  border: 1px solid var(--darkGreyColor);
}

.table td:nth-child(1) {
  width: 30%;
}

.table td:nth-child(2) {
  width: 70%;
}

.btn {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  padding: 11px 34px;
  border: 0;
  border-radius: 4px;
  color: white;
  background-color: #007dc6;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.btn:hover {
  background-color: #3da1e0;
}

.btnDisabled {
  background-color: #007dc6;
  cursor: default;
  opacity: .5;
}

.footer {
  width: 30%;
  text-align: center;
  border-top: var(--darkGreyColor) solid 1px;
  padding: 15px 0 30px;
  margin-top: 30px;
  font-size: 10pt;
}
